@{
    Layout = "_LayoutBackOffice";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Modifier travaux</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="FrontOffice" asp-action="Index">Accueil</a></li>
                <li class="breadcrumb-item active">Modification</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        @* <h5 class="card-title">Datatables</h5> *@

                        <!-- Table with stripped rows -->
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th scope="col">Code travaux</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Unite</th>
                                    <th scope="col">Prix unitaire </th>
                                    <th scope="col">Modifier </th>
                                </tr>
                            </thead>
                            <tbody>
                               @foreach(var travaux in ViewBag.Travaux){

                                    <tr>
                                        <td>@travaux.CodeTravaux</td>
                                        <td>@travaux.Designation</td>
                                        <td>@travaux.Unite.Nom</td>
                                        <td>@travaux.PrixUnitaire.ToString("N0") Ar</td>
                                        <td><a type="button" class="btn btn-outline-primary open-modal" asp-controller="BackOffice" asp-action="ModifierTravaux"  asp-route-id_travaux="@travaux.Id">Modifier</a></td>
                                    </tr>                                        
                               }
                                </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
